body{
    background-color: gainsboro;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

main{
    width: 500px;
    border: 1px solid black;
    text-align: center;
    padding: 30px;
    margin: auto;
    background-color: rgb(189, 189, 189);
}

h1 {
    font-family: 'Libre Baskerville', serif;

}